header {
    display:flex;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 2vh 0 0 2vw;
}

.header__list {
        display:flex;
        min-width: 400px;    
        list-style: none;
        animation: fadeUp 1s ease-in forwards;

        &__item {
            font-size:2rem;
            margin:3vh 1vw;
            padding: 1vh 1vw;
            border-radius: 25rem;
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                animation: headerHover .5s ease-in forwards;
            }
        }

}