.section {

    &__hero {
        display:flex;
        justify-content: space-between;
        background-color: $color-header;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        color:$color-white;
    }
    
    &__mission {
        width:70%;
        margin:5vh auto;
    }
}


.section__mission {
    
    &__title {
        font-size:6rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }

    &__paragraph {
        font-size:2.6rem;
        margin:8vh auto;
        width:80%;
    }
}

.doggo {

}